.editor-container {
    width: 100%;
    min-height: 20.5vh;
    height: 50.5vh;
    max-height: 60.5vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    overflow: hidden;
    resize: vertical;
}

.editor-toggle {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.report-id {
    margin-left: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3a3a;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0e639c;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navigation-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    max-width: 100%;
}

.navigation-controls button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.navigation-controls span {
    font-weight: bold;
    color: #cccccc;
}

@media (max-width: 768px) {
    .right-panel {
        min-width: 100%;
    }

    .editor-container {
        height: 40vh;
        min-width: 100%;
    }

    .navigation-controls button {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
}